/* Settings page - remove separator lines from setting items */
.claudian-settings .setting-item {
  border-top: none;
}

/* Settings section headings (via setHeading()) */
.claudian-settings .setting-item-heading {
  padding-top: 18px;
  margin-top: 12px;
  border-top: 1px solid var(--background-modifier-border);
}

.claudian-settings .setting-item-heading:first-child {
  padding-top: 0;
  margin-top: 0;
  border-top: none;
}

.claudian-settings .setting-item-heading .setting-item-name {
  font-size: var(--font-ui-medium);
  font-weight: var(--font-semibold);
  color: var(--text-normal);
}

/* Media folder input width */
.claudian-settings-media-input {
  width: 200px;
}
